<launch>
 <!--<include file="$(find openni_launch)/launch/openni.launch">
   <arg name="depth_registration" value="True"/>
   <arg name="device_id" value="#2"/>
   <arg name="camera" value="tracker_camera"/>
 </include>-->
 <include file="$(find openni_launch)/launch/openni.launch">
   <arg name="depth_registration" value="True"/>
   <arg name="device_id" value="#1"/>
   <arg name="camera" value="ork_camera"/>
 </include>
 <node pkg="tf" type="static_transform_publisher" name="ork_tf" args="0.872 -0.583 0.453 -0.290 0.277 0.643 0.656 world ork_camera_link 100"/>
 <node pkg="tf" type="static_transform_publisher" name="tracker_tf" args="0.120 0.103 0.960 -0.002 0.200 0.005 0.980 world tracker_camera_link 100"/>
 <node pkg="tf" type="static_transform_publisher" name="openni_tf_broadcaster" args="0 0 0 1.57079632679 4.71238898038 0 tracker_camera_depth_optical_frame openni_depth_frame 100" />

</launch>
